{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="{% static 'pubg/css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'pubg/css/owl/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'pubg/css/owl/owl.theme.default.min.css' %}">
</head>
<body>
    <!-- NavBar -->
    <nav class="navbar navbar-expand-md navbar-custom sticky-top">
        <a class="navbar-brand" href="#"><img src="assets/img/logo.png"></a>
        <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Tournaments</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Teams</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Players</a>
            </li>
          </ul>
        </div>
    </nav>

    <!-- Content Inside Page -->
    <div class="container">
      <main role="main">
        <!-- Pk Crousel -->
        <div class="owl-carousel owl-theme" id="pk">
          <div class="item">
            <article class="article-featured">
              <div class="article-featured-main">
                <img data-src="https://i.ibb.co/YTjdr54/43-437821-india-gate-delhi-high-resolution-full-hd-wallpapers1.jpg" alt="" class="owl-lazy article-image">
              </div>
              <div class="article-featured-secondary">
                <p class="article-featured-sub-subtitle">Upcoming Event</p>
                <div>
                <p class="article-featured-heading">Pmpl Sa</p>
                <p class="article-featured-subheading">Pubg Mobile Pro League, South Asia</p>
                </div>
                <p class="article-featured-description">All tier-1 team will comete, to earn Pubg Mobile South Asia Crown</p>
                <a href=""></a>
                <div class="article-featured-icons">
                  <div class="datetime-icon">
                    <img src="{% static 'pubg/images/svg/Calender1.svg' %}" alt="" class="datetime-svg" >
                    <p class="icon-text">26, Sept</p>
                  </div>
                  <div class="prizepool-icon">
                    <img src="{% static 'pubg/images/svg/prize1.svg' %}" alt="" class="prizepool-svg" >
                    <p class="icon-text">2,60,000</p>
                  </div>
                  <div class="teams-icon">
                    <img src="{% static 'pubg/images/svg/team1.svg' %}" alt="" class="teams-svg" >
                    <p class="icon-text">16 Teams</p>
                  </div>
                </div>
              </div>
              <a href="https://www.epicgames.com/store/en-US/" class="fill-div"></a>
            </article>
          </div>
          <div class="item">
            <article class="article-featured">
              <div class="article-featured-main">
                <img data-src="https://i.ibb.co/YTjdr54/43-437821-india-gate-delhi-high-resolution-full-hd-wallpapers1.jpg" alt="" class="owl-lazy article-image">
              </div>
              <div class="article-featured-secondary">
                <p class="article-featured-sub-subtitle">Upcoming</p>
                <p class="article-featured-heading">Pmpl Sa</p>
                <p class="article-featured-subheading">Pubg Mobile Pro League, South Asia</p>
                <p class="article-featured-description">All tier-1 team will comete, to earn Pubg Mobile South Asia Crown</p>
                <a href=""></a>
                <div class="article-featured-icons">
                  <div class="datetime-icon">
                    <img src="{% static 'pubg/images/svg/Calender1.svg' %}" alt="" class="datetime-svg" >
                    <p class="icon-text">26, Sept</p>
                  </div>
                  <div class="prizepool-icon">
                    <img src="{% static 'pubg/images/svg/prize1.svg' %}" alt="" class="prizepool-svg" >
                    <p class="icon-text">2,60,000</p>
                  </div>
                  <div class="teams-icon">
                    <img src="{% static 'pubg/images/svg/team1.svg' %}" alt="" class="teams-svg" >
                    <p class="icon-text">16 Teams</p>
                  </div>
                </div>
              </div>
            </article>
          </div>
          <div class="item">
            <article class="article-featured">
              <div class="article-featured-main">
                <img data-src="https://i.ibb.co/YTjdr54/43-437821-india-gate-delhi-high-resolution-full-hd-wallpapers1.jpg" alt="" class="owl-lazy article-image">
              </div>
              <div class="article-featured-secondary">
                <p class="article-featured-sub-subtitle">Upcoming</p>
                <p class="article-featured-heading">Pmpl Sa</p>
                <p class="article-featured-subheading">Pubg Mobile Pro League, South Asia</p>
                <p class="article-featured-description">All tier-1 team will comete, to earn Pubg Mobile South Asia Crown</p>
                <a href=""></a>
                <div class="article-featured-icons">
                  <div class="datetime-icon">
                    <img src="{% static 'pubg/images/svg/Calender1.svg' % }" alt="" class="datetime-svg" >
                    <p class="icon-text">26, Sept</p>
                  </div>
                  <div class="prizepool-icon">
                    <img src="{% static 'pubg/images/svg/prize1.svg' %}" alt="" class="prizepool-svg" >
                    <p class="icon-text">2,60,000</p>
                  </div>
                  <div class="teams-icon">
                    <img src="{% static 'pubg/images/svg/team1.svg' %}" alt="" class="teams-svg" >
                    <p class="icon-text">16 Teams</p>
                  </div>
                </div>
              </div>
            </article>
          </div>
          <div class="item">
            <article class="article-featured">
              <div class="article-featured-main">
                <img data-src="https://i.ibb.co/YTjdr54/43-437821-india-gate-delhi-high-resolution-full-hd-wallpapers1.jpg" alt="" class="owl-lazy article-image">
              </div>
              <div class="article-featured-secondary">
                <p class="article-featured-sub-subtitle">Upcoming</p>
                <p class="article-featured-heading">Pmpl Sa</p>
                <p class="article-featured-subheading">Pubg Mobile Pro League, South Asia</p>
                <p class="article-featured-description">All tier-1 team will compete, to earn Pubg Mobile South Asia Crown</p>
                <div class="article-featured-icons">
                  <div class="datetime-icon">
                    <img src="{% static 'pubg/images/svg/Calender1.svg' %}" alt="" class="datetime-svg" >
                    <p class="icon-text">26, Sept</p>
                  </div>
                  <div class="prizepool-icon">
                    <img src="{% static 'pubg/images/svg/prize1.svg' %}" alt="" class="prizepool-svg" >
                    <p class="icon-text">2,60,000</p>
                  </div>
                  <div class="teams-icon">
                    <img src="{% static 'pubg/images/svg/team1.svg' %}" alt="" class="teams-svg" >
                    <p class="icon-text">16 Teams</p>
                  </div>
                </div>
                <a href=""></a>
              </div>
            </article>
          </div>
        </div>
  

        <!-- Cards about Tournament -->
        <div class="owl-carousel owl-theme" id="tournament-slider">
          <div class="item">
            <div class="card-tournament">
              <div class="card-primary">
                <img src="http://placehold.it/640x854" alt="" class="card-primary-image">
              </div>
              <div class="card-secondary">
                <p class="card-title">PMPL SA</p>
                <div class="card-date-prize">
                  <div class="">
                    <img src="{% static 'pubg/images/svg/Calender1.svg' %}" alt="" class="card-icon">
                    <p class="card-icon-text">04-Sept</p>
                  </div>
                  <div class="">
                    <img src="{% static 'pubg/images/svg/prize1.svg'%}" alt="" class="card-icon">
                    <p class="card-icon-text">200000</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="card-tournament">
              <div class="card-primary">
                <img src="http://placehold.it/640x854" alt="" class="card-primary-image">
              </div>
              <div class="card-secondary">
                <p class="card-title">PMPL SA</p>
                <div class="card-date-prize">
                  <div class="">
                    <img src="{% static 'pubg/images/svg/Calender1.svg' %}" alt="" class="card-icon">
                    <p class="card-icon-text">04-Sept</p>
                  </div>
                  <div class="">
                    <img src="{% static 'pubg/images/svg/prize1.svg'%}" alt="" class="card-icon">
                    <p class="card-icon-text">200000</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="card-tournament">
              <div class="card-primary">
                <img src="http://placehold.it/640x854" alt="" class="card-primary-image">
              </div>
              <div class="card-secondary">
                <p class="card-title">PMPL SA</p>
                <div class="card-date-prize">
                  <div class="">
                    <img src="{% static 'pubg/images/svg/Calender1.svg' %}" alt="" class="card-icon">
                    <p class="card-icon-text">04-Sept</p>
                  </div>
                  <div class="">
                    <img src="{% static 'pubg/images/svg/prize1.svg'%}" alt="" class="card-icon">
                    <p class="card-icon-text">200000</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="card-tournament">
              <div class="card-primary">
                <img src="http://placehold.it/640x854" alt="" class="card-primary-image">
              </div>
              <div class="card-secondary">
                <p class="card-title">PMPL SA</p>
                <div class="card-date-prize">
                  <div class="">
                    <img src="{% static 'pubg/images/svg/Calender1.svg' %}" alt="" class="card-icon">
                    <p class="card-icon-text">04-Sept</p>
                  </div>
                  <div class="">
                    <img src="{% static 'pubg/images/svg/prize1.svg'%}" alt="" class="card-icon">
                    <p class="card-icon-text">200000</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="card-tournament">
              <div class="card-primary">
                <img src="http://placehold.it/640x854" alt="" class="card-primary-image">
              </div>
              <div class="card-secondary">
                <p class="card-title">PMPL SA</p>
                <div class="card-date-prize">
                  <div class="">
                    <img src="{% static 'pubg/images/svg/Calender1.svg' %}" alt="" class="card-icon">
                    <p class="card-icon-text">04-Sept</p>
                  </div>
                  <div class="">
                    <img src="{% static 'pubg/images/svg/prize1.svg'%}" alt="" class="card-icon">
                    <p class="card-icon-text">200000</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="card-tournament">
              <div class="card-primary">
                <img src="http://placehold.it/640x854" alt="" class="card-primary-image">
              </div>
              <div class="card-secondary">
                <p class="card-title">PMPL SA</p>
                <div class="card-date-prize">
                  <div class="">
                    <img src="{% static 'pubg/images/svg/Calender1.svg' %}" alt="" class="card-icon">
                    <p class="card-icon-text">04-Sept</p>
                  </div>
                  <div class="">
                    <img src="{% static 'pubg/images/svg/prize1.svg'%}" alt="" class="card-icon">
                    <p class="card-icon-text">200000</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="card-tournament">
              <div class="card-primary">
                <img src="http://placehold.it/640x854" alt="" class="card-primary-image">
              </div>
              <div class="card-secondary">
                <p class="card-title">PMPL SA</p>
                <div class="card-date-prize">
                  <div class="">
                    <img src="{% static 'pubg/images/svg/Calender1.svg' %}" alt="" class="card-icon">
                    <p class="card-icon-text">04-Sept</p>
                  </div>
                  <div class="">
                    <img src="{% static 'pubg/images/svg/prize1.svg'%}" alt="" class="card-icon">
                    <p class="card-icon-text">200000</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="card-tournament">
              <div class="card-primary">
                <img src="http://placehold.it/640x854" alt="" class="card-primary-image">
              </div>
              <div class="card-secondary">
                <p class="card-title">PMPL SA</p>
                <div class="card-date-prize">
                  <div class="">
                    <img src="{% static 'pubg/images/svg/Calender1.svg' %}" alt="" class="card-icon">
                    <p class="card-icon-text">04-Sept</p>
                  </div>
                  <div class="">
                    <img src="{% static 'pubg/images/svg/prize1.svg'%}" alt="" class="card-icon">
                    <p class="card-icon-text">200000</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="card-tournament">
              <div class="card-primary">
                <img src="http://placehold.it/640x854" alt="" class="card-primary-image">
              </div>
              <div class="card-secondary">
                <p class="card-title">PMPL SA</p>
                <div class="card-date-prize">
                  <div class="">
                    <img src="{% static 'pubg/images/svg/Calender1.svg' %}" alt="" class="card-icon">
                    <p class="card-icon-text">04-Sept</p>
                  </div>
                  <div class="">
                    <img src="{% static 'pubg/images/svg/prize1.svg'%}" alt="" class="card-icon">
                    <p class="card-icon-text">200000</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="card-tournament">
              <div class="card-primary">
                <img src="http://placehold.it/640x854" alt="" class="card-primary-image">
              </div>
              <div class="card-secondary">
                <p class="card-title">PMPL SA</p>
                <div class="card-date-prize">
                  <div class="">
                    <img src="{% static 'pubg/images/svg/Calender1.svg' %}" alt="" class="card-icon">
                    <p class="card-icon-text">04-Sept</p>
                  </div>
                  <div class="">
                    <img src="{% static 'pubg/images/svg/prize1.svg'%}" alt="" class="card-icon">
                    <p class="card-icon-text">200000</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <article class="article-team"></article>



        <!-- Matches in last 7 days -->
        <div class="date-section">
          <div class="group">
            <p class="heading">Schedule This Week</p>
          </div>
          <div class="date-button-group">
            <button id="date-button-1" class="date-button-single">
              <div class="inner-circle">
                26
              </div>
            </button>
            <button id="date-button-2" class="date-button-single">27</button>
            <button id="date-button-3" class="date-button-single">28</button>
            <button id="date-button-4" class="date-button-single">29</button>
            <button id="date-button-5" class="date-button-single">30</button>
            <button id="date-button-6" class="date-button-single">31</button>
            <button id="date-button-7" class="date-button-single">1</button>

          </div>
          <div class="date-content-widget">
            <div class="" id="date-content-1">
              <div class="date-group-match-tile">
                <div class="match-tile-time">
                  <p class="">7:30 PM</p>
                </div>
                <div class="match-tile-tournament">
                  <p class="">PMPL SA</p>
                </div>
                <div class="match-tile-dayNoAmatchNo">
                  <p class="match-tile-day">D-1</p>
                  <p class="match-tile-matchNo">M-1</p>
                </div>
                <div class="match-tile-map">
                  <p class="">ERANGEL</p>
                </div>
              </div>
            </div>
            <div class="" id="date-content-2">
              <div class="date-group-match-tile">
                <div class="match-tile-time">
                  <p class="">7:30 PM</p>
                </div>
                <div class="match-tile-tournament">
                  <p class="">PMPL SA</p>
                </div>
                <div class="match-tile-dayNoAmatchNo">
                  <p class="match-tile-day">D-1</p>
                  <p class="match-tile-matchNo">M-1</p>
                </div>
                <div class="match-tile-map">
                  <p class="">ERANGEL</p>
                </div>
              </div>
              <div class="date-group-match-tile">
                <div class="match-tile-time">
                  <p class="">7:30 PM</p>
                </div>
                <div class="match-tile-tournament">
                  <p class="">PMPL SA</p>
                </div>
                <div class="match-tile-dayNoAmatchNo">
                  <p class="match-tile-day">D-1</p>
                  <p class="match-tile-matchNo">M-1</p>
                </div>
                <div class="match-tile-map">
                  <p class="">ERANGEL</p>
                </div>
              </div>
            </div>
            <div class="" id="date-content-3">
              <div class="date-group-match-tile">
                <div class="match-tile-time">
                  <p class="">7:30 PM</p>
                </div>
                <div class="match-tile-tournament">
                  <p class="">PMPL SA</p>
                </div>
                <div class="match-tile-dayNoAmatchNo">
                  <p class="match-tile-day">D-1</p>
                  <p class="match-tile-matchNo">M-1</p>
                </div>
                <div class="match-tile-map">
                  <p class="">ERANGEL</p>
                </div>
              </div>
            </div>
            <div class="" id="date-content-4">
              <div class="date-group-match-tile">
                <div class="match-tile-time">
                  <p class="">7:30 PM</p>
                </div>
                <div class="match-tile-tournament">
                  <p class="">PMPL SA</p>
                </div>
                <div class="match-tile-dayNoAmatchNo">
                  <p class="match-tile-day">D-1</p>
                  <p class="match-tile-matchNo">M-1</p>
                </div>
                <div class="match-tile-map">
                  <p class="">ERANGEL</p>
                </div>
              </div>
            </div>
            <div class="" id="date-content-5">
              <div class="date-group-match-tile">
                <div class="match-tile-time">
                  <p class="">7:30 PM</p>
                </div>
                <div class="match-tile-tournament">
                  <p class="">PMPL SA</p>
                </div>
                <div class="match-tile-dayNoAmatchNo">
                  <p class="match-tile-day">D-1</p>
                  <p class="match-tile-matchNo">M-1</p>
                </div>
                <div class="match-tile-map">
                  <p class="">ERANGEL</p>
                </div>
              </div>
            </div>
            <div class="" id="date-content-6">
              <div class="date-group-match-tile">
                <div class="match-tile-time">
                  <p class="">7:30 PM</p>
                </div>
                <div class="match-tile-tournament">
                  <p class="">PMPL SA</p>
                </div>
                <div class="match-tile-dayNoAmatchNo">
                  <p class="match-tile-day">D-1</p>
                  <p class="match-tile-matchNo">M-1</p>
                </div>
                <div class="match-tile-map">
                  <p class="">ERANGEL</p>
                </div>
              </div>
            </div>
            <div class="" id="date-content-7">
              <div class="date-group-match-tile">
                <div class="match-tile-time">
                  <p class="">7:30 PM</p>
                </div>
                <div class="match-tile-tournament">
                  <p class="">PMPL SA</p>
                </div>
                <div class="match-tile-dayNoAmatchNo">
                  <p class="match-tile-day">D-1</p>
                  <p class="match-tile-matchNo">M-1</p>
                </div>
                <div class="match-tile-map">
                  <p class="">ERANGEL</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        
      </main>
    </div>

    <script src="" async defer></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static '/pubg/js/owl/owl.carousel.min.js' %}"></script>
    <script>
      $(document).ready(function(){
          $("#pk").owlCarousel({
          margin: 13,
          loop: true,
          autoPlay: 10,
          dots: true,
          autoplay:true,
          autoplayTimeout:2000,
          autoplayHoverPause:true,
          lazyLoad: true,

          responsive:{
              0:{
                  items:1
              },
              600:{
                  items:1
              },
              1000:{
                  items:1
              }
          }
      });
        });
  </script>

  <script>
    $(document).ready(function(){
        $("#tournament-slider").owlCarousel({
        margin: 13,
        loop: true,
        autoPlay: 10,
        dots: true,
        autoplay:true,
        autoplayTimeout:2000,
        autoplayHoverPause:true,

        responsive:{
            0:{
                items:1.6
            },
            600:{
                items:3
            },
            1000:{
                items:5
            }
        }
    });
      });
  </script>
  <script>
      $(function() {
            $('#date-button-1').click(function() {
                $('div[id^=date-content-]').hide();
                $('#date-content-1').show();
            });
            $('#date-button-2').click(function() {
                $('div[id^=date-content-]').hide();
                $('#date-content-2').show();
            });
            
            $('#date-button-3').click(function() {
                $('div[id^=date-content-]').hide();
                $('#date-content-3').show();
            });
            
            $('#date-button-4').click(function() {
                $('div[id^=date-content-]').hide();
                $('#date-content-4').show();
            });

            $('#date-button-5').click(function() {
                $('div[id^=date-content-]').hide();
                $('#date-content-5').show();
            });

            $('#date-button-6').click(function() {
                $('div[id^=date-content-]').hide();
                $('#date-content-6').show();
            });

            $('#date-button-7').click(function() {
                $('div[id^=date-content-]').hide();
                $('#date-content-7').show();
            });
        })
  </script>

  
  </body>
</html>