<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Dashboard</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <h1>Dashboard</h1>

    <div>
        <h3>Tournaments</h3>
        {% for tournament in TournamentsIn7Days %}
        <p><a href="{% url 'tournament' tournament.id %}">{{tournament}}</a></p>
        {% endfor %}
    </div>
    <br>
    <div>
        <h2>Matches</h2>
        {% for match in listOfMatches %}
        <p><a>{{match}}</a></p>
        {% endfor %}
    </div>
    
</body>
</html>