{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>singleTournament</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="{% static 'pubg/css/single.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'pubg/css/owl/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'pubg/css/owl/owl.theme.default.min.css' %}">
</head>

<body>

    <nav class="navbar navbar-expand-md navbar-custom sticky-top">
        <a class="navbar-brand" href="#"><img src="assets/img/logo.png"></a>
        <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="{% url 'pubg' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Players</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Teams</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Tournaments</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <main role="main">
            <div id="tournament-result-section">
                <article class="article-featured">
                    <div class="article-featured-main">
                        <img src="https://i.ibb.co/YTjdr54/43-437821-india-gate-delhi-high-resolution-full-hd-wallpapers1.jpg"
                            loading="lazy" alt="" class="article-image">
                    </div>
                    <div class="article-featured-secondary">
                        <p class="article-featured-sub-subtitle">Upcoming Event</p>
                        <div>
                            <p class="article-featured-heading">{{match.total_tournament.short_name}}</p>
                            <p class="article-featured-subheading">{{match.total_tournament.name}}</p>
                        </div>
                        <p class="article-featured-description">All tier-1 team will comete, to earn Pubg Mobile South
                            Asia Crown
                        </p>
                        <div class="article-featured-icons">
                            <div class="datetime-icon">
                                <img src="{% static 'pubg/images/svg/Calender1.svg' %}" alt="" class="datetime-svg">
                                <p class="icon-text">26, Sept</p>
                            </div>
                            <div class="prizepool-icon">
                                <img src="{% static 'pubg/images/svg/prize1.svg' %}" alt="" class="prizepool-svg">
                                <p class="icon-text">2,60,000</p>
                            </div>
                            <div class="teams-icon">
                                <img src="{% static 'pubg/images/svg/team1.svg' %}" alt="" class="teams-svg">
                                <p class="icon-text">{{match.teams.count}}</p>
                            </div>
                        </div>
                    </div>
                </article>

            </div>


            <div class="group">
                <div class="head">
                    <div class="">
                        <p class="heading">Teams</p>
                    </div>
                </div>
                <div class="owl-carousel owl-theme" id="tournament-teams">
                    <div class="item">
                        <div class="team-cards">
                            <div class="team">
                                <img src="http://placehold.it/640x640" alt="" class="team-image-1">
                            </div>
                            <div class="team">
                                <img src="http://placehold.it/640x640" alt="" class="team-image-2">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="team-cards">
                            <div class="team">
                                <img src="http://placehold.it/640x640" alt="" class="team-image-1">
                            </div>
                            <div class="team">
                                <img src="http://placehold.it/640x640" alt="" class="team-image-2">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="team-cards">
                            <div class="team">
                                <img src="http://placehold.it/640x640" alt="" class="team-image-1">
                            </div>
                            <div class="team">
                                <img src="http://placehold.it/640x640" alt="" class="team-image-2">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="team-cards">
                            <div class="team">
                                <img src="http://placehold.it/640x640" alt="" class="team-image-1">
                            </div>
                            <div class="team">
                                <img src="http://placehold.it/640x640" alt="" class="team-image-2">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="team-cards">
                            <div class="team">
                                <img src="http://placehold.it/640x640" alt="" class="team-image-1">
                            </div>
                            <div class="team">
                                <img src="http://placehold.it/640x640" alt="" class="team-image-2">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="team-cards">
                            <div class="team">
                                <img src="http://placehold.it/640x640" alt="" class="team-image-1">
                            </div>
                            <div class="team">
                                <img src="http://placehold.it/640x640" alt="" class="team-image-2">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="team-cards">
                            <div class="team">
                                <img src="http://placehold.it/640x640" alt="" class="team-image-1">
                            </div>
                            <div class="team">
                                <img src="http://placehold.it/640x640" alt="" class="team-image-2">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="group">
                <div class="head">
                    <div class="">
                        <p class="heading">Result</p>
                    </div>
                </div>

                <table class="content-table">
                    <thead>
                        <tr>
                            <th>Rank</th>
                            <th>Team</th>
                            <th>Kills Pts</th>
                            <th>Placement Pts</th>
                            <th>Total Pts</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for result in matchResults %}
                            <tr>
                                <td>1</td>
                                <td>{{result.teams.short_name}}</td>
                                <td>{{result.kill_points}}</td>
                                <td>{{result.placement_point}}</td>
                                <td>{{result.total_points}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </main>
    </div>

    <script src="" async defer></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static '/pubg/js/owl/owl.carousel.min.js' %}"></script>

    <script>
        $(document).ready(function () {
            $("#tournament-teams").owlCarousel({
                margin: 13,
                loop: true,
                autoPlay: 10,
                dots: true,
                autoplay: true,
                autoplayTimeout: 2000,
                autoplayHoverPause: true,

                responsive: {
                    0: {
                        items: 2
                    },
                    600: {
                        items: 3.5
                    },
                    1000: {
                        items: 5
                    }
                }
            });
        });
    </script>

</body>

</html>